html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
}

img {
  width: 5rem;
  display: block;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  background-color: #444;
  color: #ccc;
  padding: .5rem;
}

h2 {
  text-align: center;
  margin-top: 0;
}

hgroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .5rem 1rem .6rem;
}

h3, h4 {
  margin: 0;
}

p {
  width: 24rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
